.main
{
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
}

.main_box
{
    width: 70%;
    min-width: 1400px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px solid #404040;
    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 2.5px #404040;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.logo
{
    height: 200px;
}

.right_header_section
{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.park_name
{
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}
.park_name:hover
{
    letter-spacing: 0.25rem;
}

.name_part1 {
    color: rgb(19, 123, 19);
}

.name_part2 {
    color: rgb(151, 116, 0);
}

.menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    margin: 0;
}

.menu_link
{
    text-decoration: none;
    color: black;
    transition: all 0.15s ease-in-out;
}

.menu_link:hover
{
    letter-spacing: 0.1rem;
    text-decoration: underline;
}

.hr
{
    width: 100%;
}

.content
{
    height: 100%;
    width: 100%;
    padding: 0;
}

.footer
{
    width: 100%;
    text-align: center;
    margin-top: auto;
}