html
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Arial;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

h1
{
    letter-spacing: 5px;
    text-decoration: underline;
}